* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Inconsolata', serif;
}
.header {
	z-index: 1;
	background: linear-gradient(-45deg, #7c16bd 0%,#05007c 33%, #03459c 66%, #00d4b3 100%);
	background-size: 400% 400%;
	width: 100%;
	height: max-content;
	animation: animate 20s ease infinite;

}

.header h2 {
	text-align: center;
	color: #fff;
	font-size: 60px;
	margin-top: 15%;
	margin-bottom: 20px;
	padding-inline: 0%;
}

.header p {
	text-align: center;
	font-size: 18px;
	font-size: small;
	font-style: italic;
	text-decoration: underline;
	margin: auto;
	padding-inline: 15%; 
	color: #ddd;
	line-height: 1.7;
}

.header a {
	display: inline-block;
	font-family: 'Inconsolata', serif;
	cursor: pointer;
	border-radius: 8px;
	padding: 14px 24px 16px;
	margin-top: 5%;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	font-style: italic;
	line-height: 1;
	transition: transform 200ms,background 200ms;
	background: transparent;
	color: #fff;
	box-shadow: 0 0 0 3px #fff inset;
}

.container{
	width: 100%;
  	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%
}
.header a:hover{
	transform: translateY(-2px);
}

@keyframes animate {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
